body {
  max-width: 433px;
  margin-left: 100px;
  margin-top: 100px;
  /*background-size: 433px,881px;*/
  background-repeat: no-repeat;
  background-position: left 100px top 20px;




}

#overlay{
margin-left: 100px;
width:432px,881px;
position:fixed; /*You may also use fixed depending on your needs.*/
left:0;
top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
z-index: 999;
}

.jumbotron {
  max-width: 375 px;
    margin-bottom: 0px;
    background-image: url(images/BusinessImageNoWords.png);
    background-position: center;
    background-size: 375px,160px;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}
.jumbotron h1{
font-size: 30px;
text-align: center;
font-weight: 400;


}
.row {
  margin-left: 30px;
  margin-top: 20px;
  max-width: 355px;
  

}
