body {
  max-width: 433px;
  margin-left: 100px;
  margin-top: 108px;
  /*background-size: 433px,881px;*/
  background-repeat: no-repeat;
  background-position: left 100px top 20px;
  




}

.head-image{
  height: 160px;
  margin-bottom: 0px;
  background-image: url(images/BusinessImageNoWords.png);
  background-position: center;
  background-size: 375px,160px;
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  
}

.head-image h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  line-height: 160px;
}

#overlay{
margin-left: 100px;
width:432px,881px;
position:fixed; /*You may also use fixed depending on your needs.*/
left:0;
top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
z-index: 999;
pointer-events: none;
}

/*.jumbotron {
  max-width: 375 px;
    margin-bottom: 0px;
    background-image: url(images/BusinessImageNoWords.png);
    background-position: center;
    background-size: 375px,160px;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}
.jumbotron h1{
font-size: 30px;
text-align: center;
font-weight: 400;


}*/
.row {
  margin-left: 30px;
  max-width: 355px;
  margin-bottom: -3px;
  color: #666;
  /*border-bottom: 1px solid;*/
  /*border-bottom-color: green;*/
}

.row h4{
  color: #111;
}

.section-header{
  color: green;
  margin-bottom: 8px;
}

.filter-section > .row > .inline-button {
  display: inline-block;
  float: none;
}


.container {
  margin-top: 20px;

}

.filter-section {
  overflow: scroll;
  overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.filter-section > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.filter-section > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.btn-secondary {
  margin-top: 10px;
  background-color: lightblue;

}